
{% if __SELF__.isMulti %}

    <div
        class="control-multi-file-uploader {{ __SELF__.isPopulated() ? 'has-file' : '' }}"
        data-handler="{{ __SELF__ ~ '::onUpdateFile' }}"
        data-control="multi-file-uploader"
        data-max-size="{{ __SELF__.maxSize }}"
        data-file-types="{{ __SELF__.fileTypes|join(', ') }}">

        <div class="clickable"></div>
        <div class="content">
            {% partial __SELF__ ~ '::file-multi' image = __SELF__.getPopulated() %}
        </div>

        <div class="template" style="display: none">
            <div class="dz-preview dz-file-preview">
                <img class="thumbnail" src="{{ 'plugins/responsiv/uploader/assets/images/upload.png'|app }}" data-dz-thumbnail />
                <div class="dz-details">
                    <div class="dz-filename"><span data-dz-name></span></div>
                    <div class="dz-size" data-dz-size></div>
                    <div class="activity">
                        <div class="loading"></div>
                    </div>
                </div>
                <div class="action-panel">
                    <a href="javascript:;" class="delete">&times;</a>
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>

                <div class="dz-error-message">
                    <div class="dz-error-mark">&cross;</div>
                    <span data-dz-errormessage></span>
                </div>
            </div>
        </div>

    </div>

{% else %}

    <!-- @todo This section is incomplete -->

{% endif %}