//
// Single Image
//

div.control-single-image-uploader {
    width: 106px;
    height: 106px;
    background: white;
    border-radius: 3px;
    border: 1px dashed rgba(39, 41, 43, 0.15);
    position: relative;
    display: inline-block;

    &.dz-drag-hover {
        border-color: rgba(0,0,0,0.15);
        background: rgba(0,0,0,0.04);
    }

    .dz-preview {
        display: none;
    }

    &:hover {
        border-color: @uploaderActiveColor;
    }

    .content {
        display: table-cell;
        width: 106px;
        height: 106px;
        padding: 13px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        img {
            width: 64px;
            height: 64px;
            display: none;
        }

        p.placeholder {
            color: rgba(140, 140, 140, 0.8);
        }
    }

    &[data-control="single-image-uploader"] {
        img {
            display: inline-block;
        }
    }

    &.has-image {
        border-style: solid;

        .content {
            text-align: center;
            vertical-align: middle;

            p.placeholder {
                display: none;
            }

            img {
                display: inline-block;
                float: none;
            }
        }
    }

    &.is-fluid {
        width: auto;
        height: auto;

        .content {
            display: block;
            max-width: 106px;
            max-height: 106px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                max-width: 64px;
                max-height: 64px;
            }
        }
    }
}
