
//
// Multi Image
//

div.control-multi-image-uploader {
    position: relative;

    &.has-image {
        border-style: solid;
    }

    .content {
        padding: 1rem;

        p.placeholder {
            color: rgba(140, 140, 140, 0.8);
        }
    }

    .clickable {
        .uploaderClickableArea();
    }
}

div.control-multi-image-uploader {

    &.dz-drag-hover {
        border-color: rgba(0,0,0,0.15);
        background: rgba(0,0,0,0.04);
    }

    .dz-preview {

        background: rgba(255,255,255,0.8);
        position: relative;
        display: inline-block;
        margin: .5rem;
        vertical-align: top;

        &, * { box-sizing: border-box; }

        .dz-filename, .dz-size {
            display: none;
        }

        .dz-progress {
            top: 100px;
            .uploaderProgressBar();
        }

        .dz-error-message {
            display: none;
        }

        &.dz-processing {
            .dz-progress {
                display: block;
            }
        }

        &.dz-success {
            .dz-progress {
                display: block;
                opacity: 0;
                -webkit-transition: opacity 0.4s ease-out;
                -moz-transition: opacity 0.4s ease-out;
                -o-transition: opacity 0.4s ease-out;
                -ms-transition: opacity 0.4s ease-out;
                transition: opacity 0.4s ease-out;
            }

            .loading {
                display: none;
            }
        }

        &.dz-removing {
             .dz-progress {
                display: none;
            }
        }

        &.dz-error {
            .dz-progress .dz-upload {
                background: @uploaderErrorColor;
            }
            .dz-error-message {
                .uploaderErrorMessage();
            }

            .loading {
                display: none;
            }
        }

        .action-panel {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255,255,255,.7);
            opacity: 0;
            z-index: 3;
        }

        &:hover .action-panel {
            opacity: 1;
            -webkit-transition: opacity 0.4s ease-out;
            -moz-transition: opacity 0.4s ease-out;
            -o-transition: opacity 0.4s ease-out;
            -ms-transition: opacity 0.4s ease-out;
            transition: opacity 0.4s ease-out;
        }

        .delete {
            .uploaderDeleteButton(40px);
        }


    }
}
