@uploader-progress-bar-height: 5px;
@uploader-progress-bar-color:  #fff;
@uploader-progress-bar-bg:     #f5f5f5;
@uploader-inactive-icon:       #808b93;
@uploader-object-active-bg:    #4da7e8;
@uploader-object-error-bg:     #ab2a1c;
@uploader-list-accent-bg:      #f5f5f5;
@uploader-list-border-color:   #eeeeee;
@uploader-inline-button-color: #333333;

@screen-xs-max: 767px;
@screen-sm-max: 991px;
@screen-md-max: 1199px;

@import "uploader.base.less";
@import "uploader.imagemulti.less";
@import "uploader.imagesingle.less";
@import "uploader.filemulti.less";
@import "uploader.filesingle.less";
